<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Reset Password</title>

    <style>
        html{
            font-size: 0.9rem;
        }
        .hidden {
            visibility: hidden;
            display: none;
        }
    </style>
</head>
<body>
<div>
    <nav id="end" class="navbar navbar-light bg-light hidden">
        <span class="navbar-brand mb-0 p-2 h1">Done</span>
    </nav>
    <div id="main">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 p-2  h1">Write below new Password</span>
        </nav>
        <form class="container">
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                    <div class="input-group input-group-sm mb-3">
                        <input type="password" class="form-control" id="password" placeholder="write a secure password">
                    </div>
                <div id="passwordHelpBlock" class="form-text">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
                    special characters, or emoji.
                </div>

            </div>
            <button id="button" type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<script>
    (function () {
        const $fldPsw = $("#password");
        const $button = $("#button");
        $button.on("click", submit);

        function submit(e) {
            e.preventDefault();
            const newPassword = $fldPsw.val();
            console.log("Password:", newPassword);
            if (!!newPassword) {
                $("#main").addClass("hidden");
                $("#end").removeClass("hidden");

                // submit
                $.ajax({
                    method: "POST",

                    url: "{{link}}",
                    dataType: "json",
                    data: JSON.stringify({
                        app_token: "{{app-token}}",
                        auth_id: "{{auth_id}}",
                        password: newPassword
                    })
                }).done(function (resp) {
                    // console.log(JSON.stringify(resp));
                    if (!!resp && !!resp.response && !!resp.response.redirect) {
                        window.location.href = resp.response.redirect;
                    }
                }).fail(function (resp) {
                    //alert("Error: " + msg);
                    console.error(resp.responseJSON.error);
                });
            }
        }
    })();
</script>
</body>
</html>